
.mapboxgl-popup-content {
  background: transparent !important;
  padding: 0 !important;
  box-shadow: none !important;
}


.mapboxgl-popup-tip {
  border: none !important;
  box-shadow: none !important;
}